.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-top-header {
  font-size: 3rem;
  padding-top: 2rem;
}

.contact-image {
  width: 8rem;
  padding: 2rem 0;
}

.contact-link {
  font-size: 1.5rem;
  text-decoration: underline;
}

.contact-form {
  width: 100%;
}

.contact-input {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem 15rem 1rem 2rem;
  width: 45%;
  margin: 4rem 0;
}

.contact-input-long {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem 20rem 1rem 2rem;
  width: 100%;
}

.contact-form-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.contact-form-middle {
  margin: 0 auto;
  width: 95%;
}
.contact-form-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact-form-submit {
  background-color: #eac061;
  color:  white;
  padding: 1rem 3rem;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  width: 10%;
  cursor: pointer;
}

.contact-form-submit:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .contact-top-header {
    font-size: 2rem;
  }
  .contact-image {
    width: 6rem;
    padding: 1rem 0;
  }

  .contact-input-long {
    padding: 1rem 2rem 1rem 2rem;
  }

  .contact-input {
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
  }

  .contact-form-top {
    flex-direction: column;
  }

  .contact-form-middle {
    margin: 0 auto;
    width: 100%;
  }

  .contact-form-bottom {
    flex-direction: column;
  }

  .contact-form input {
    font-size: 0.7rem;
    text-align: center;
    margin: 1rem 0;
  }

  .contact-form-submit {
    padding: 1rem 3rem;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    cursor: pointer;
  }
}
