.link {
  color: black;
  font-size: 1.5rem;
}

.link:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}

.footer-about-link {
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid black;
}

.footer-contact-link {
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid black;
}

.copyright {
  text-align: center;
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
}

.logo-black {
  width: 15rem;
}

.call-btn {
  background-color: #606161;
  color: white;
  padding: 1rem 3rem;
  border-radius: 30px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .logo-black {
    width: 8rem;
    margin-bottom: 2rem;
  }

  .footer {
    flex-direction: column;
  }

  .link {
    color: black;
    font-size: 1rem;
  }

  .footer-about-link {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid black;
  }

  .footer-contact-link {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid black;
  }

  .footer-links {
    margin-bottom: 2rem;
  }

  .call h1 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  .call-btn {
    font-size: 1rem;
  }

  .copyright {
    margin-top: 1rem;
  }
}
