@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

body {
  margin: 0;
  font-family: 'STIX Two Math', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
}


* {
  padding: 0px;
  margin: 0px;
  border: solid black 0px;
  text-decoration: none;
  box-sizing: border-box;
}
